@media screen and (max-width: 768px) {
    .navbar img {
        height: 2.8rem;
        top: 0rem;
        position: relative;
        left: 1rem;
    }
    .navbar-light .navbar-brand {
        font-size: 1rem;
        padding-right: 10px;
        margin-left: 0;
    }
    .social-links {
        position: fixed;
        right: 0rem;
        top: 24%;
    }
    .section-1 {
        height: auto;
        padding: 2rem 1rem;
    }
    .section-1 .hero-text h1 {
        font-size: 32px;
    }
    .section-1 .hero-vid img{
        height: 220px;
    }
    .section-6 {
        padding: 2rem 1rem;
    }
    .section-6 .what_is_it h1 {
        font-size: 30px;
        margin-left: 1rem;
    }
    .what_is_it {
       margin-left: 2rem;
    }
    .what_is_it h1 {
        font-size: 30px;
        margin-left: 1rem;
    }
    .card-title {
        font-size: 22px;
    }
    .contact-details a {
        font-size: 1rem;
    }
    .section-5 .curriculum p {
        padding: 0;
    }
    .section-5 .curriculum h1 {
        font-size: 22px;
    }
    .section-8 .card-body p{
        padding: 0rem;
    }
    .what_is_it img {
        transform: translate(-44%, -32%);
    }
    .what_is_it_vid img{
        height: auto;
    }
    .who_we_are span {
        left: -1%;
        top: -3%;
        font-size: 27px;
    }
    .who_we_are .img-fluid {
        max-width: 100%;
    }
    
}

/* Media query for screens larger than 768px and smaller than or equal to 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .navbar img {
        height: 6rem;
        position: relative;
        left: 13px;
        top: 0.1rem;
    }
    .social-links {
        display: grid;
    }
    .section-1 {
        margin-top: 7rem;
        padding: 5rem 0.4rem;
    }
    .section-1 .hero-vid img {
        height: 217px;
    }
    .section-1 .hero-text h1 {
        font-size: 33px;
        width: auto;
        margin: 1rem;
    }
}



/* Media query for screens larger than 992px and smaller than or equal to 1200px */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}

/* Media query for screens larger than 1200px */
@media screen and (min-width: 1201px) {
}
